<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Backend-Rest-API</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="card m-2">
		<div class="card-header">
			HttpServletRequest / HttpServletResponse
		</div>
		<div class="card-body">
			<div><a href="/servlet-api-rest/get-client-ip">클라이언트 IP 얻기</a></div>
			<div><a href="/servlet-api-rest/file-download">파일 다운로드</a></div>
		</div>
	</div>
</body>

</html>